{% extends './plantilla.html' %}
{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Editar Matrícula</h1>

        <form action="/procesarEdicionMatricula/{{ matriculaEditar.id_matricula }}/" method="post" enctype="multipart/form-data" id="frm_editar_matricula">
            {% csrf_token %}

            <label for="estudiante">Estudiante:</label>
            <select class="form-control" name="estudiante" id="estudiante">
                {% for e in estudiantes %}
                    <option value="{{ e.cedula }}" {% if e.cedula == matriculaEditar.estudiante.cedula %}selected{% endif %}>
                        {{ e.nombre }}
                    </option>
                {% endfor %}
            </select><br>

            <label for="materia">Materia:</label>
            <select class="form-control" name="materia" id="materia" required>
                {% for m in materias %}
                    <option value="{{ m.id_materia }}" {% if m.id_materia == matriculaEditar.materia.id_materia %}selected{% endif %}>
                        {{ m.nombre }}
                    </option>
                {% endfor %}
            </select><br>

            <label for="ciclo">Ciclo:</label>
            <input class="form-control" type="text" name="ciclo" id="ciclo" value="{{ matriculaEditar.ciclo }}" required><br>

            <label for="logo"> logotipo: </label>
            <input type="file" name="logo" id="logo" class ="form-control" value="{{ matriculaEditar.ciclo }}" required>
            <br>

            <button class="btn btn-warning" type="submit"><i class="fa fa-pen"></i> Editar</button>
            <a class="btn btn-outline-danger" href="/matricula"><i class="fa fa-times"></i> Cancelar</a>
        </form>
        <script>
            $("#frm_editar_matricula").validate({
                rules: {
                    estudiante: { required: true },
                    materia: { required: true },
                    ciclo: { required: true }
                },
                messages: {
                    estudiante: { required: "Seleccione un estudiante" },
                    materia: { required: "Seleccione una materia" },
                    ciclo: { required: "Campo obligatorio" }
                }
            });
        </script>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
