{% extends './plantilla.html' %}
{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Editar Materia</h1>

        <form action="/procesarEdicionMateria/{{ materiaEditar.id_materia }}/" enctype="multipart/form-data"  method="post" id="frm_editar_materia">
            {% csrf_token %}

            <label for="codigo">Código:</label>
            <input class="form-control" type="text" name="codigo" id="codigo" value="{{ materiaEditar.codigo }}" required><br>

            <label for="nombre">Nombre:</label>
            <input class="form-control" type="text" name="nombre" id="nombre" value="{{ materiaEditar.nombre }}" required><br>

            <label for="profesor">Profesor:</label>
            <select class="form-control" name="profesor" id="profesor" required>
                {% for p in profesores %}
                    <option value="{{ p.cedula }}" {% if p.cedula == materiaEditar.profesor.cedula %}selected{% endif %}>
                        {{ p.nombre }}
                    </option>
                {% endfor %}
            </select><br>

            <label for="logo"> logotipo: </label>
            <input type="file" name="logo" id="logo" class ="form-control" value="{{ materiaEditar.logo }}" required>
            
            <label for="archivo"> Documento: </label>
            <input type="file" name="archivo" id="archivo" class ="form-control" value="{{ profesorEditar.archivo }}" required >
            <br>

            <button class="btn btn-warning" type="submit"><i class="fa fa-pen"></i> Editar</button>
            <a class="btn btn-outline-danger" href="/materia"><i class="fa fa-times"></i> Cancelar</a>
        </form>

        <script>
            $("#frm_editar_materia").validate({
                rules: {
                    codigo: { required: true },
                    nombre: { required: true },
                    profesor: { required: true }
                },
                messages: {
                    codigo: { required: "Campo obligatorio" },
                    nombre: { required: "Campo obligatorio" },
                    profesor: { required: "Debe seleccionar un profesor" }
                }
            });
        </script>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
