{% extends './plantilla.html' %}
{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Editar Estudiante</h1>

        <form action="/procesarEdicionEstudiante/{{ estudianteEditar.cedula }}" method="post">
            {% csrf_token %}

            <label for="cedula">Cédula:</label>
            <input class="form-control" type="text" name="cedula" id="cedula" value="{{ estudianteEditar.cedula }}" readonly><br>

            <label for="nombre">Nombre:</label>
            <input class="form-control" type="text" name="nombre" id="nombre" value="{{ estudianteEditar.nombre }}"><br>

            <label for="correo">Correo:</label>
            <input class="form-control" type="email" name="correo" id="correo" value="{{ estudianteEditar.correo }}"><br>

            <button class="btn btn-warning" type="submit"><i class="fa fa-pen"></i> Editar</button>
            <a class="btn btn-outline-danger" href="/estudiante"><i class="fa fa-times"></i> Cancelar</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
