{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1>Listado de Estudiantes</h1>
<a href="/nuevoEstudiante/" class="btn btn-primary">Agregar Estudiante</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <script>
            function eliminarEstudiante(cedula){
                Swal.fire({
                    title: "CONFIRMACIÓN",
                    text: "¿Deseas eliminar este estudiante?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, eliminar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href="/eliminarEstudiante/"+cedula
                    }
                });
            }
        </script>
        {% for e in estudiantes %}
        <tr>
            <td>{{ e.cedula }}</td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.correo }}</td>
            <td>
                <a href="/editarEstudiante/{{e.cedula}}" class="btn btn-outline-warning"><i class="fa fa-pen"></i></a>
                <a href="#" onclick="eliminarEstudiante('{{e.cedula}}')" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
